@use "tokens" as *;

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css");

body {
  background-color: $BG_COLOR;
  font-family: $FONT_FAMILY;
  font-size: $FONT-SIZE-2;
  color: $TEXT_COLOR;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.flex {
  display: flex;
}

.flex-grow-1 {
  flex-grow: 1;
}

.w-100 {
  width: 100%;
}

// Spacings Classes Generators
$SPACES: (
  "auto": $SPACE-AUTO,
  1: $SPACE-1,
  2: $SPACE-2,
  3: $SPACE-3,
  4: $SPACE-4,
);

$SPACES_PROPS: (
  m: "margin",
  mr: "margin-right",
  ml: "margin-left",
  mb: "margin-bottom",
  mt: "margin-top",
);

@each $spacing_name, $spacing_value in $SPACES {
  @each $spaceCssClass, $spaceCssProp in $SPACES_PROPS {
    .#{$spaceCssClass}-#{$spacing_name} {
      #{$spaceCssProp}: $spacing_value;
    }
  }
}
